
<html>
	<head>
		
		<link rel='stylesheet' type='text/css' href='/static/css/hls.css' />
		<script src='/static/jquery/js/jquery-1.9.1.min.js' ></script>
		<script src='/static/jquery/js/jquery-validate.js' ></script>
		
		<style type="text/css">

	       .timestamp {
				color: #c9c9c9;
				font-size:11px;
			}

			.box {
				position:relative;
				float:left;
				margin-left:9px;
				margin-bottom:8px;
				width:210px;
				height:110px;			
			    border-radius: 4px;
			    border:1px solid black; 
			    background-color:#fff99;
			}	
			        
		</style>
		
	</head>


	<body>
	
		#include("/include/navbar.html")
		
		
		<div class="container" style="padding-top:1px;">
		    
	    	<div class="panel panel-default">
	    		
	    		<div class="panel-heading">
	    			<h3 class="panel-title"> LIVE-STREAM </h3>
	    		</div>
	    	
	    		<div class="panel-body">
	    		
	    		 
						#foreach($item in $streams)
						<div class="box">
						
							<div style="padding-left:2px; padding-bottom:5px;">
	
								<span style="float:left; background-color:yellow; padding:2px; font-size:14px;"> 
										<a href="/hls/${item.aliasNames.get(0)}/live.m3u8" target="_blank"> 
											${item.streamId}
										</a>
								</span>
							</div>
							
							<div style="float:left; padding-left:2px; padding-top:16px; font-size:12px;">
								<table>
									<tr>
										<td>
											count: ${item.rawCount}
										</td>
									</tr>
									
									<tr>
										<td>
											#if($item.streamType < 10) 
												audio sample=${item.sampleRate} / ${item.sampleSizeInBits} / ${item.channels}
											#else 
												video fps=${item.fps} 
											#end   
										</td>
									</tr>
									
									<tr>
										<td class="text-right" style="position:absolute; bottom:0px; padding:0px; margin:0px; right:0px; border-top:1px solid #ccc;"> 
											 <label class="timestamp">
												 $!item.mtime
											 </label>
										</td>
									<tr>
								</table>
							</div>
						</div>
						#end
			           			
	    		</div>	
	    		    		
	    	</div>
	    	
	    </div>
		
	</body>

	<script type="text/javascript">
	
		$(function(){
		
			var unixToDate =  function(unixTime) {	
			
	            var time = new Date(unixTime);
	            var ymdhis = "";
	            ymdhis += time.getFullYear() + "-";
	            ymdhis += ((time.getMonth() + 1) < 10 ? '0' + (time.getMonth() + 1) : (time.getMonth() + 1) ) + "-";
	            ymdhis += (time.getDate() < 10 ? '0' + time.getDate() : time.getDate());
	            ymdhis += "  ";
	            ymdhis += (time.getHours() < 10 ? '0' + time.getHours() : time.getHours()) + ":";
	            ymdhis += (time.getMinutes() < 10 ? '0' + time.getMinutes() : time.getMinutes()) + ":";
	            ymdhis += (time.getSeconds() < 10 ? '0' + time.getSeconds() : time.getSeconds());
	    
	            return ymdhis;
	        }
	        
	        var timeProcess = function() {
		        var current = Date.parse(new Date())  / 1000;
			
		        var panels = $(".box");		        
		        panels.each(function(i) {
		        	var panel = $(panels[i]);
		        	
		        	var pem = panel.find('.timestamp');
		        	pem.each(function(j){
		        		var p = $(pem[j]);
		        		if(!isNaN(p.text())){
		        		
		        			var timestamp = parseInt(p.text());
		        			p.html(unixToDate(timestamp));
		        			
		        		}
		        	});
		        });
		        
	        }
	        
	        timeProcess();
	
		});
		
	</script>

</html>